@{
	IList<DataAccessLayer.Models.Interactions> etkilesim = Model;
}
<span class="time">
	<span style="cursor:pointer" onclick="Etkilesim(@etkilesim.FirstOrDefault().BlogId,true)">@etkilesim.Where(s=>s.InteractionType == true).Count() Beğendi</span>
	<span style="cursor:pointer" onclick="Etkilesim(@etkilesim.FirstOrDefault().BlogId,false)">@etkilesim.Where(s=>s.InteractionType == false).Count() Beğenmedi</span>
</span>