
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Admin Panel</a></li>
		<li class="breadcrumb-item"><a href="/admin/Blogs">Bloglar</a></li>
		<li class="breadcrumb-item active" aria-current="page">Etkileşimler</li>
	</ol>
</nav>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Blog</th>
			<th>Tarih</th>
			<th>Durum</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Blogs.Name</td>
				<td>@item.InteractionDate</td>
				@if (item.InteractionType)
				{
					<td><label style="color:green">Beğendi</label></td>
				}
				else
				{
					<td><label style="color:red">Beğenmedi</label></td>
				}
			</tr>
		}
	</tbody>
</table>
<a href="/admin/blogs" class="btn btn-warning">Geri</a>
